body{
    padding-top: 3%;
    margin: 0;}
    
h2{
    text-align: center;
    font-size: 30px;}

label{
    font-size: 17px;
    color: rgba(0, 0, 0,70%);}

button{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 50px;
    border: none;
    background-color: rgba(4, 54, 107, 0.9);
    color: white;
    font-size: 18px;}

input{
    margin-top: 5px;
    height: 35px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
    border: 1px solid rgba(153, 149, 149,50%);}

.div1{
    max-width: 20%;
    min-width: 300px;
    width: 15%;
    padding: 50px;
    height: 50%;
    min-height: 50%;
    margin: auto;
    border: 1px solid rgba(204, 204, 204, 50%);}

.div2{
    display: flex;
    justify-content:center;
    height: 100px; 
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(177, 174, 174);
    margin-bottom: 50px;}

.div2 img{
    width: 80px;
    bottom: 0;}   

 .div3{text-align: left;}

.div4 a{
    font-size: 18px;
    color: rgba(4, 54, 107, 0.9);
    text-align: left;
    display: block;
    margin-bottom: 25px;}

a:link{text-decoration: none;}

p{
    margin-top: 45px;
    font-size: 18px;}

a:hover{text-decoration: underline;}

a:visited{color: rgba(4, 54, 107, 0.9);}

.div5 a{color: rgba(4, 54, 107, 0.9);}